@{
    ViewBag.Title = "Home Page";
}

<body class="col-sm-12">
    <div class="row">
        <div class="col-sm-4">
            <text>Order Some Pizza!</text>
            <button class="btn-block"></button>
        </div>
        <div class="col-sm-4">
            <label>Getting information!</label>
            <button class="btn-group-sm"></button>
        </div>
    </div>

</body>